# App Configuration
NUXT_APP_TITLE="Your Name - Software Engineer"
NUXT_APP_DESCRIPTION="Your portfolio description"
NUXT_APP_URL="https://yourwebsite.com"

# Social Links
LINKEDIN_PROFILE_URL="https://www.linkedin.com/in/your-profile"
GITHUB_PROFILE_URL="https://github.com/your-username"
INSTAGRAM_PROFILE_URL=""
YOUTUBE_PROFILE_URL=""
TWITTER_PROFILE_URL=""
MEDIUM_PROFILE_URL=""


# Lifetime Stats
MY_BIRTHDAY_DATE="YYYY-MM-DD"
FIRST_WORK_EXPERIENCE_DATE="YYYY-MM-DD"
